<h1><%=@list.name%></h1>

<% if @tasks.any?() %>
  <h3>Here are your tasks:</h3>

  <ul>
    <% @tasks.each() do |task| %>
    <% if task.list_id == @list.id %>
      <li><%= task.description %><br> <a href="/tasks/<%= task.id() %>/edit">Update/Delete</a></li>
      <% end %>
    <% end %>
  </ul>

<% else %>

    <p>There are no tasks yet!</p>

<% end %>

<form action="/tasks_add" method="post">
<input id='list_id' name='list_id' type='hidden' value='<%= @list.id()%>'>
  <label for="description">Add a task:</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add task</button>
</form>



<p><a href="/lists/<%= @list.id() %>/edit">Edit <%= @list.name() %> list</a></p>
<p><a href="/">Return to Main Page</a></p>
